<%- include('head'); %>

    <!-- about -->
                <%- include('ofrecemos'); %>
    <!--//mid-content-->
    <!-- /features -->
    <div class="team-w3ls py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">

                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <div class="row">

                        <div class="col-sm-4 service-1-w3ls serve-gd2">
                            <div class="serve-grid team-gd mt-4">
                                <img src="images/photos1.jpg" alt="" class="img-fluid image1">
                                <p class="mt-3">BIT </p>
                            </div>
                            <div class="serve-grid team-gd mt-4">
                                <img src="images/photos2.jpg" alt="" class="img-fluid image1">
                                <p class="mt-3">Globant </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3ls serve-gd3">
                            <div class="serve-grid team-gd mt-4">
                                <img src="images/photos3.jpg" alt="" class="img-fluid image1">
                                <p class="mt-3">Amazon</p>
                            </div>
                            <div class="serve-grid  team-gd mt-4">
                                <img src="images/photos4.jpg" alt="" class="img-fluid image1">
                                <p class="text-li mt-2">Endava </p>
                            </div>
                            <div class="serve-grid team-gd mt-4">
                                <img src="images/photos5.jpg" alt="" class="img-fluid image1">
                                <p class="mt-3">Microsoft</p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3ls serve-gd2">
                            <div class="serve-grid team-gd mt-4">
                                <img src="images/photos6.jpg" alt="" class="img-fluid image1">
                                <p class="mt-3">IBM </p>
                            </div>
                            <div class="serve-grid team-gd mt-4">
                                <img src="images/photos7.jpg" alt="" class="img-fluid image1">
                                <p class="mt-3">Dell </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 welcome-left pl-lg-5">
                    <p>Nuestras conexiones</p>
                    <h3 class="tittle-wthree mt-2 mb-3">Conoce nuestros aliados</h3>

                    <p class="mt-4 pr-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros
                        sagittis, quis
                        hendrerit
                        libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //features -->

    <!-- /apply-->
    <%- include('formandtest'); %>
    <!-- //testimonials -->

    <%- include('footer'); %>