<%- include('head'); %>
    <!-- about -->
    <section class="about py-5">
        <div class="container py-md-5">
            <h3 class="tittle-wthree text-center">Contactanos</h3>
            <p class="sub-tittle text-center mt-4 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <div class="row">

                <div class="col-lg-6 contact-info-left">
                    <ul class="list-unstyled w3ls-items">
                        <li>
                            <div class="row mt-5">
                                <div class="col-3">
                                    <div class="con-icon">
                                        <span class="fa fa-home"></span></div>
                                </div>
                                <div class="col-9">
                                    <h6>Dirección</h6>
                                    <p>BEP - Experiencias
                                        <br>5768 Morris Park,
                                        <br>Bogota. </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row mt-5">
                                <div class="col-3">
                                    <div class="con-icon">
                                        <span class="fa fa-envelope"></span></div>
                                </div>
                                <div class="col-9">
                                    <h6>Email</h6>
                                    <a href="mailto:info@BEP.com">info@bep.com</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row mt-5">
                                <div class="col-3">
                                    <div class="con-icon">
                                        <span class="fa fa-phone"></span> </div>
                                </div>
                                <div class="col-9">
                                    <h6>Telefono</h6>
                                    <p>1234567890</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 contact-right-wthree-info login">
                    <h5 class="text-center mb-4"></h5>
                    <form action="#" method="post">
                        <div class="form-group mt-4">
                            <label>Name</label>

                            <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                        </div>
                        <div class="form-group mt-4">
                            <label>Email</label>
                            <input type="email" class="form-control" id="validationDefault02" placeholder="" required="">
                        </div>

                        <div class="form-group mt-4">
                            <label class="mb-2">Contraseña</label>
                            <input type="password" class="form-control" id="password1" placeholder="" required="">
                        </div>
                        <div class="form-group mt-4">
                            <label class="mb-2">Mensaje</label>
                            <textarea class="form-control" name="Message" placeholder="" required=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Enviar</button>

                    </form>

                </div>
            </div>

            <div class="map-wthree mt-5 p-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.73138305561!2d-74.06719788575748!3d4.641932943458097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abf01007c8b%3A0xf34837fe0c5507db!2sBIT%20-%20Cursos%20de%20Programaci%C3%B3n%20en%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1645217050051!5m2!1ses-419!2sco"></iframe>

            </div>
        </div>
    </section>
    <!-- //about -->

    <%- include('footer'); %>