<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEP - Experiencias</title>
        <link rel="stylesheet" href="css/formularioEmpresa.css">
    </head>
    <body>
       <div class="container">
            <div class="title">Ya casi! Estas a un paso de encontrar futuros profesionales</div>
            <div class="content">
              <form action="/terminarRegistro" method="post">
                <input type="hidden" name="_id" value="<%= id %>">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">N.I.T</span>
                    <input type="text" placeholder="Enter your Identification" name="NIT" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Nombre de la empresa</span>
                    <input type="text" placeholder="Enter your Name" name="nombreEmpresa" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Telefono Empresarial</span>
                    <input type="number" placeholder="Enter your number" name="telefeno" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Direccion</span>
                    <input type="text" placeholder="Direccion" name="direccion" required>
                  </div>
        
                  <div class="input-box">
                    <span class="details">Telefono Celular</span>
                    <input type="text" placeholder="Confirm your password" name="telefono" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Representante Legal</span>
                    <input type="text" placeholder="Nombre y Apellido" name="repreLegalNom" required>
                  </div>
                </div>
                <hr>
                <hr>
                <div class="gender-details">
                  <span class="gender-title">Areas de Interes de la Compañia</span>
                  <div class="categoria">
                    <div>
                      <select name="areaDesempena" id="">
                        <option value="Finanzas y Administracion">Finanzas y Administracion</option>
                        <option value="Ciencias Aplicadas y Relacionadas">Ciencias Aplicadas y Relacionadas</option>
                        <option value="Salud">Salud</option>
                        <option value="Ventas y Servicios">Ventas y Servicios</option>
                        <option value="Explotacion Primaria y Extractiva">Explotacion Primaria y Extractiva</option>
                        <option value="Operación de Equipos de Transporte">Operación de Equipos de Transporte</option>
                        <option value="Procesamiento de Fabricacion y Ensamble">Procesamiento de Fabricacion y Ensamble</option>
                        <option value="Vigilancia y Seguridad">Vigilancia y Seguridad</option>
                      </select><br>
                    </div>
                    <textarea style="margin-top: 10px;" name="comentario" id="" cols="90" rows="5"
                      placeholder="Cuentanos Sobre La Empresa" class="texto"></textarea>
                  </div>
                  <div>
                    <hr>
                    <input type="checkbox" name="tac" value="true">
                    Acepto los <a href="/T&C">Terminos y condiciones</a>
                    <br>
                    <input type="hidden" name="nuevo" value="false">
                  </div>
    
                </div>
        
            <div class="button centerbtn">
              <input type="submit" value="Enviar">
            </div>
            </form>
          </div>
          </div>
        </body>
        </html>