<!-- footer -->
<footer class="py-5">
  <div class="container py-sm-3">
      <div class="row footer-grids">
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
              <h2> <a class="navbar-brand mb-3" href="/">BEP</a>
              </h2>
              <p class="mb-3">Onec Consequat sapien ut cursus rhoncus. Nullam dui mi, vulputate ac metus semper quis luctus sed.</p>
              <h5>Confiabilidad dentro de <span class="counter">10000</span> <span>personas</span></h5>
          </div>
          <div class="col-lg-3 col-sm-6 mb-md-0 mb-sm-5 mb-4">
              <h4 class="mb-4">Ubicación</h4>
              <p><span class="fa mr-2 fa-map-marker"></span>64d canal street TT 9436 <span>Newyork, NY.</span></p>
              <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +1(12) 123 456 789 </p>
              <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@bep.com">info@bep.com</a></p>
          </div>
          <div class="col-lg-2 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
              <h4 class="mb-4">Enlaces</h4>
              <ul>
                  <li><a href="#">Sobre nosotros</a></li>
                  <li class="my-2"><a href="#">Registrarse</a></li>
                  <li><a href="#">Soporte</a></li>
                  <li class="mt-2"><a href="#">Politica de privacidad</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm-6">
              <h4 class="mb-4">Para mas información</h4>
              <p class="mb-3">Subscribase a nosotros</p>
              <form action="#" method="post" class="d-flex newsletter-w3pvt">
                  <input type="email" id="email" name="EMAIL" placeholder="Ingrese su mail" required="">
                  <button type="submit" class="btn">Subscribirse</button>
              </form>
              <div class="icon-social mt-4">
                  <a href="#" class="button-footr">
                      <span class="fa mx-2 fa-facebook"></span>
                  </a>
                  <a href="#" class="button-footr">
                      <span class="fa mx-2 fa-twitter"></span>
                  </a>
                  <a href="#" class="button-footr">
                      <span class="fa mx-2 fa-dribbble"></span>
                  </a>
                  <a href="#" class="button-footr">
                      <span class="fa mx-2 fa-pinterest"></span>
                  </a>
                  <a href="#" class="button-footr">
                      <span class="fa mx-2 fa-google-plus"></span>
                  </a>

              </div>
          </div>
      </div>
  </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy_right p-3 d-flex justify-content-around">

  <p>© 2021 BEP. Todos los derechos reservados | Hecho con mucho amor 💞

  </p>
  <!-- move top -->
  <div class="move-top">
      <a href="#home" class="move-top">
          <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
      </a>
  </div>
  <!-- move top -->
</div>
<!-- //copyright -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js'></script>
<script>
$('.counter').counterUp({
 delay: 100,
 time: 1000000
});
$('.counter').addClass('animated fadeIn');
</script>




</body>

</html>
