<section class="apply-main py-5" id="apply">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-lg-7 apply-info px-lg-5">
                <h3 class="tittle-wthree apply-hd text-white mb-lg-5 mb-3">Eres una empresa y quieres trabajar con nosotros?
<br> Enviamos tus datos y estaremos en contacto</h3>
                <div class="row wthree-stats-inf">
                    <div class="col-6 stats_w3pvt_counter_grid mt-3">
                        <div class="d-flex">
                            <p class="counter">758</p>
                            <p class="para-w3pvt">Experiencias</p>
                        </div>
                    </div>
                    <div class="col-6 stats_w3pvt_counter_grid mt-3">
                        <div class="d-flex">
                            <p class="counter">600</p>
                            <p class="para-w3pvt">Empresas</p>
                        </div>
                    </div>
                    <div class="col-6 stats_w3pvt_counter_grid mt-3">
                        <div class="d-flex">
                            <p class="counter">2422</p>
                            <p class="para-w3pvt">Estudiantes</p>
                        </div>
                    </div>
                    <div class="col-6 stats_w3pvt_counter_grid mt-3">
                        <div class="d-flex">
                            <p class="counter">10000</p>
                            <p class="para-w3pvt">Vidas transformadas</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-5 login p-md-5 p-4 mx-auto bg-white mw-100">
                <h5 class="text-center mb-4">Aplica ahora</h5>
                <form action="#" method="post">
                    <div class="form-group">
                        <label>Correo de la empresa</label>

                        <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Nombre de la empresa</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                    </div>

                    <div class="form-group mb-4">
                        <label class="mb-2">Campo laboral</label>
                        <input type="text" class="form-control" id="password1" placeholder="" required="">
                    </div>

                    <button type="submit" class="btn btn-primary submit mb-4">Enviar</button>

                </form>

            </div>
        </div>
    </div>
</section>
<!-- //apply -->
<!-- testimonials -->
<section class="testimonials py-5" id="test">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle-wthree text-center">Testimonios</h3>
        <p class="sub-tittle text-center mt-4 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <div class="row">
            <div class="col-lg-4 testimonials_grid mt-3">
                <div class="p-lg-5 p-4 testimonials-gd-vj">
                    <p class="sub-test"><span class="fa fa-quote-left s4" aria-hidden="true"></span> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis voluptas.
                    </p>
                    <div class="row mt-4">
                        <div class="col-3 testi-img-res">
                            <img src="images/te1.jpg" alt=" " class="img-fluid" />
                        </div>
                        <div class="col-9 testi_grid">
                            <h5 class="mb-2">Valentina González</h5>
                            <p>Add xxxx</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 testimonials_grid mt-3">
                <div class="p-lg-5 p-4 testimonials-gd-vj">
                    <p class="sub-test"><span class="fa fa-quote-left s4" aria-hidden="true"></span>Quisque sagittis lacus eu lorem , cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus.
                    </p>
                    <div class="row mt-4">
                        <div class="col-3 testi-img-res">
                            <img src="images/te2.jpg" alt=" " class="img-fluid" />
                        </div>
                        <div class="col-9 testi_grid">
                            <h5 class="mb-2">Alejandro Gómez</h5>
                            <p>Add xxxx</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 testimonials_grid mt-3">
                <div class="p-lg-5 p-4 testimonials-gd-vj">
                    <p class="sub-test"><span class="fa fa-quote-left s4" aria-hidden="true"></span> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis voluptas.
                    </p>
                    <div class="row mt-4">
                        <div class="col-3 testi-img-res">
                            <img src="images/te3.jpg" alt=" " class="img-fluid" />
                        </div>
                        <div class="col-9 testi_grid">
                            <h5 class="mb-2">Miguel Márquez</h5>
                            <p>Add xxxx</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>