<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Experiencias BEP</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="EduWily Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    
    <!-- //Fonts -->
</head>
<!-- home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
            <!-- banner -->
            <div class="top_w3pvt_main container">

                <!-- nav -->
                <div class="nav_w3pvt text-center ">
                  <!-- nav -->
                  <nav class="lavi-wthree">
                      <div id="logo">
                          <h1> <a class="navbar-brand" href="/">BEP</a>
                          </h1>
                      </div>
  
                      <label for="drop" class="toggle">Menu</label>
                      <input type="checkbox" id="drop" />
                      <ul class="menu ml-auto">
                          <li><a href="/">Inicio</a></li>
                          <li><a href="/agregar_trabajos">Crear Trabajos</a></li>
                          <li><a href="/empresas">Ver Trabajos</a></li>
                          <!-- <li>
                              <label for="drop-2" class="toggle">Información</span> </label>
                              <a href="#">Mi perfil</span></a>
                          </li> -->
                          <li class="log-vj ml-auto"><a href="/"><span class="fa fa-user-circle-o" aria-hidden="true"></span> Cerrar sesión</a>
                      </ul>
                  </nav>
                    <!-- //nav -->
                </div>
            </div>
            <!-- //nav -->

        </div>
        <!-- //banner -->
    </div>
    <!-- //home -->