<%- include('head'); %>
    <!-- about -->
    <section class="single-w3ls-page py-5">
        <div class="container py-md-5">
            <div class="content-sing-w3pvt px-lg-5">
                <img class="img-fluid" src="images/banner2.jpg" alt="">
                <h4 class="title-wthree my-3">Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod magna .Lorem ipsum dolor sit amet, consectetuer adipiscing elit,Sed diam nonummy nibh euismod magna .Integer pulvinar leo id viverra feugiat. Pellentesque Libero Justo, Semper At Tempus Vel, Ultrices In Sed Ligula. Nulla Uter Sollicitudin Velit.</p>
                <p class="mt-3">Integer pulvinar leo id viverra feugiat. Pellentesque Libero Justo, Semper At Tempus Vel, Ultrices In Sed Ligula. Nulla Uter Sollicitudin Velit.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod magna.</p>
                <div class="social-icons-footer">
                    <ul class="list-unstyled w3pvt-icons mb-5">
                        <li class="lead">
                            Siguenos en nuestras redes :
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-pinterest-p"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="row about-w3pvt-top mt-2">

                    <div class="col-lg-6 about-info">
                        <h4 class="title-wthree mb-5">Lorem ipsum dolor sit magna feugiat etiam sed dolor</h4>
                        <p>Donec malesuada ex sit amet pretium sid ornare. Nulla congue scelerisque tellus, utpretium nulla malesuada sedint. Suspendisse venenatis,Lorem ipsum dolor sit magna dolor.</p>


                    </div>
                    <div class="col-lg-6 about-img">
                        <div class="row">
                            <div class="col">
                                <img src="images/g3.jpg" class="img-fluid" alt="user-image">
                            </div>
                            <div class="col">
                                <img src="images/g2.jpg" class="img-fluid" alt="user-image">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="comments my-5">
                <h4 class="title-wthree mb-5">Comentarios Recientes</h4>
                <div class="comments-grids mt-4">
                    <div class="media mt-4">
                        <img class="mr-3" src="images/te1.jpg" alt="image">
                        <div class="media-body comments-grid-right">
                            <h4>Johnson</h4>
                            <ul class="my-2">
                                <li class="font-weight-bold">2 Abr 2019
                                    <i>|</i>
                                </li>
                                <li>
                                    <a href="#" class="font-weight-bold">Responder</a>
                                </li>
                            </ul>
                            <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                tempor.
                                Phasellus bibendum eu.</p>
                        </div>
                    </div>
                    <div class="media mt-sm-5 mt-3 ml-5">
                        <a class="pr-3" href="#">
                            <img src="images/te2.jpg" class="img-fluid media-img" alt="image">
                        </a>
                        <div class="media-body comments-grid-right">
                            <h4>Watson</h4>
                            <ul class="my-2">
                                <li class="font-weight-bold">2 Abr 2019
                                    <i>|</i>
                                </li>
                                <li>
                                    <a href="#" class="font-weight-bold">Responder</a>
                                </li>
                            </ul>
                            <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec
                                purus
                                quis
                                tempor. Phasellus bibendum eu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-right-wthree-info login">

                <h4 class="title-wthree mb-5">Dejar un comentario</h4>
                <form action="#" method="post" class="single-page-form">
                    <div class="form-group mt-4">
                        <label>Nombre</label>

                        <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                    </div>
                    <div class="form-group mt-4">
                        <label>Email</label>
                        <input type="email" class="form-control" id="validationDefault02" placeholder="" required="">
                    </div>


                    <div class="form-group mt-4">
                        <label class="mb-2">Mensaje</label>
                        <textarea class="form-control" name="Message" placeholder="" required=""></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Postear comentario </button>

                </form>

            </div>
        </div>
    </section>
    <!-- //about -->

    <%- include('footer'); %>